.page-content {
    padding: 75px 75px;
    background-color: ghostwhite;
}

.color-gray {
    color: gray;
}

.links {
    display: flex;
    justify-content: end;
}

.su-content {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
}

.signup-link {
    text-decoration: none;
    color: white;
}